
h1
    a(href='/'): code eth chatter

p.catchphrase eternal threaded chat on ethereum

.links
    a(href='/') What is this?
    a(href='/howto') How to

code.right.hard chat @ #{CONTRACT_ADDRESS}
code.right.hard log in @ #{login_address}
