extends base

block content
    .content
        .page.home-page
            .narrow
                h3.headline eternal threaded chat on ethereum


                .blurbs
                    .chunk
                        p eth chatter is a set of chatrooms build on ethereum.

                .blurbs
                    .chunk
                        p Grab your favorite ethereum client and go chatter away. Try this <a href="/c/#{example_room_slug}">example room</a>.

                //- .blurbs
                //-     .chunk
                //-         p Or check out some <a href='/recipes'>recipes</a> to get some ideas of how to use this.
