extends base

block content
    .content
        .page.example-page
            .narrow.docs

                .section
                    .section-header Introduction
                    .chunk
                        p eth chatter runs a set of eternal chat rooms off an ethereum contract.

                    .chunk
                        p The chat contract is at <code>#{CONTRACT_ADDRESS}</code>. Call the function <code>sendChat(string room, string message)</code> to send a message to a room.

                    .chunk
                        p Use <a href="/c/test_jones">http://eth-chatter.io/c/[room]</a> to chat.

